{% extends 'BufeteAplicacionBundle::Default/admin.html.twig' %}

{% block style%}
    <style>
        
        #contenedor{
            width: 100%;
        }
        
        .item{
            
            background-color: #e9eaed;
            
        }
        
        .cliente {
            
                width: 50px;
        }
        
        h3{
            
           
        }

        
    </style>
{%endblock%}

{% block page%}
    <div id="micaso" class="fullsize"  style="  background-color: #F0F0D8;height: 540px;">
        
        <div id="contenedor">
        {% for entity in entities %}
            
            
           <a href="{{path('cliente_show', { 'id': entity.id }) }}"> <div class="item">
           
              <img style="width: 50px;" src="{{asset('public/images/user.png')}}" />
            
                
              <h3 style="display: inline-block; margin-left: 25px; margin-right: 40px;">
                {{ entity.nombre }}{{ entity.apellido }} </h3>
                {{ entity.correo }}




                        


                        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}"><img style="width: 18px;" src="{{asset('public/images/editar.png')}}" /></a>
                        
                
               </div>
             </a>
            
        {% endfor %}
        </div>
        
        
        
        
        <h1>Cliente list</h1>

    
    <table class="records_list">
        <thead>
            <tr>
                <th class="a">Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.direccion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cliente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cliente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>
                
    {% endblock %}
