{% extends 'BufeteAplicacionBundle::Default/admin.html.twig' %}


{% block page%}
    <div id="micaso" class="fullsize"  style="  background-color: #F0F0D8;height: 540px;">
 <style>
    
    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8A8A8A), color-stop(1, #3B3B3B) );background:-moz-linear-gradient( center top, #8A8A8A 5%, #3B3B3B 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A8A8A', endColorstr='#3B3B3B');background-color:#8A8A8A; color:#FFFFFF; font-size: 14px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #A8B3B5;font-size: 12px;font-weight: bold; }.datagrid table tbody .alt td { background: #EBEBEB; color: #000000; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important;} 
    .acciones {display: inline-block; margin-right: 10px;} 
    
</style>   
    
    <h1>Lista de Abogados</h1>

    
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Contrasena</th>
                <th>Actions</th>
                </tr>
            </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('abogado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.correo }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.contrasena }}</td>
                <td>
                <ul>
                    <li class="acciones">
                        <a href="{{ path('abogado_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li class="acciones">
                        <a href="{{ path('abogado_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
    
    </tbody>
</table></div>
    

        <ul>
        <li>
            <a href="{{ path('abogado_new') }}">
                Agregar Nuevo Abogado
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
